<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conditions Générales d'Utilisation de Travelas</title>
    <style>
      * { font-family: Arial, Helvetica, sans-serif; text-align: justify; } body
      { background-color: rgba(10, 11, 46, 0.1) ;
      {{! background-color: rgba(255, 113, 34, 0.1);  }}
      } main { margin: 40px 15%; background-color: white; padding: 5%;
      border-radius: 10px; } h2 { color: #0A0B2E; } a, i { color: #FF7122; } h4
      { margin: 0px; } h3 { margin: 2px;} @media screen and (max-width: 768px) {
      main { margin: 20px 2%; background-color: white; padding: 2%;
      border-radius: 10px; } * {text-align: start;} h1 {font-size: 28px;} }
    </style>
  </head>
  <body>
    <main>
      <h1>Conditions Générales d'Utilisation de Travelas</h1>
      <i>Dernière mise à jour : 08-10-2024</i>
      <br /><br />
      Bienvenue sur Travelas, la plateforme de réservation et de paiement de
      billets de bus pour le transport interurbain au Cameroun ! Veuillez lire
      attentivement les Conditions Générales d'Utilisation ("CGU") suivantes
      avant d'utiliser notre application et nos services.
      <h2>1. Acceptation des CGU</h2>
      En utilisant Travelas, vous acceptez d'être lié par ces CGU, ainsi que par
      notre
      <a href="{{api_url}}/api/politique-de-confidentialite/{{lang}}">Politique
        de Confidentialité</a>. Si vous n'acceptez pas ces CGU, veuillez ne pas
      utiliser Travelas.
      <h2>2. Définitions</h2>
      <ul>
        <li><b>Travelas</b>
          désigne la plateforme de réservation et de paiement de billets de bus,
          y compris l'application mobile et le site Web.</li>
        <li><b>Utilisateur</b>
          désigne toute personne physique ou morale qui utilise Travelas.</li>
        <li><b>Agence</b>
          désigne une agence de voyage partenaire de Travelas.</li>
        <li><b>Passager</b>
          désigne un utilisateur qui réserve un billet de bus via Travelas.</li>
        <li><b>Conducteur</b>
          désigne un utilisateur qui propose des trajets de bus via Travelas.</li>
        <li><b>Service</b>
          désigne les services de réservation et de paiement de billets de bus
          proposés par Travelas.</li>
      </ul>

      <h2>3. Utilisation du service</h2>
      <ul>
        <li>Réservation des billets: Travelas vous permet de rechercher et de
          réserver des billets de bus auprès des Agences partenaires.</li>
        <li>Paiement des billets: Vous pouvez payer vos billets de bus
          directement via Travelas en utilisant Mobile Money.</li>
        <li>Gestion des réservations: Vous pouvez gérer vos réservations,
          modifier les informations de votre profil et accéder à vos billets.
        </li>
      </ul>
      <h2>4. Responsabilités </h2>
      <ul>
        <li><b>Informations fournies:</b>
          Vous êtes responsable de la précision des informations que vous
          fournissez lors de la création de votre compte et de la réservation
          des billets.</li>
        <li><b>Respect des lois:</b>
          Vous acceptez de respecter toutes les lois et réglementations en
          vigueur concernant l'utilisation de Travelas.</li>
        <li><b>Contenu des utilisateurs:</b>
          Vous êtes responsable de tout contenu que vous publiez sur Travelas.</li>
      </ul>
      <h2>5. Responsabilité de Travelas</h2>
      <ul>
        <li><b>Exonération de responsabilité:</b>
          Travelas ne garantit pas que son Service sera disponible à tout moment
          et sans interruption.</li>
        <li><b>Informations des Agences:</b>
          Travelas ne garantit pas l'exactitude des informations fournies par
          les Agences.</li>
        <li><b>Responsabilité des Agences:</b>
          Travelas n'est pas responsable des actes ou omissions des Agences
          partenaires.</li>
      </ul>

      <h2>6. Propriété Intellectuelle</h2>
      <ul>
        <li><b>Droits d'auteur:</b>
          Travelas et son contenu sont protégés par les droits d'auteur</li>
        <li><b>Marques déposées:</b>
          Les marques déposées de Travelas sont la propriété de Travelas.</li>
      </ul>

      <h2>7. Modifications des CGU</h2>

      Travelas se réserve le droit de modifier ces CGU à tout moment. Toute
      modification sera affichée sur le site Web de Travelas et entrera en
      vigueur dès sa publication.

      <h2>8. Résiliation</h2>
      Travelas se réserve le droit de suspendre ou de résilier votre accès à
      Travelas à tout moment, sans préavis, si vous violez les CGU.
      <h2>9. Loi applicable et règlement des litiges</h2>
      Ces CGU sont régies et interprétées conformément aux lois du Cameroun.
      Tout litige découlant de ces CGU sera soumis à la compétence exclusive des
      tribunaux du Cameroun.
      <h2>10. Contact </h2>
      Pour toute question concernant les CGU, veuillez contacter Travelas à
      l'adresse
      <a href="mailto:novatech025@gmail.com">novatech025@gmail.com</a>.
    </main>
  </body>
</html>