<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Politique de confidentialité de Travelas</title>
    <style>
      * { font-family: Arial, Helvetica, sans-serif; text-align: justify; } body
      { background-color: rgba(10, 11, 46, 0.1) ;
      {{! background-color: rgba(255, 113, 34, 0.1);  }}

      } main { margin: 40px 15%; background-color: white; padding: 5%;
      border-radius: 10px; } h2 { color: #0A0B2E; } a, i { color: #FF7122; } h4
      { margin: 0px; } h3 { margin: 2px; } @media screen and (max-width: 768px)
      { main { margin: 20px 2%; background-color: white; padding: 2%;
      border-radius: 10px; } * {text-align: start;} h1 {font-size: 28px;} }
    </style>
  </head>
  <body>
    <main>
      <h1>Politique de confidentialité de Travelas</h1>
      <i>Dernière mise à jour : 08-10-2024</i>
      <br />
      <br />
      Travelas est une application mobile de réservation et de paiement de
      billets de bus pour le transport interurbain au Cameroun. Cette politique
      de confidentialité explique comment nous collectons, utilisons, divulguons
      et protégeons les informations personnelles que vous nous fournissez
      lorsque vous utilisez notre application.

      <h2>1. Informations collectées</h2>

      Nous collectons les informations suivantes des utilisateurs :

      <h3>1.1 Passagers:</h3>

      <ul>
        <li>
          <h4>Informations de compte: </h4>
          <ul>
            <li><b>Nom et prénom:</b> Lors de la création de votre compte.</li>
            <li><b>Numéro de téléphone:</b>
              Un numéro principal est requis lors de la création de votre
              compte.</li>
          </ul>
        </li>
        <li>
          <h4>Informations de réservation:</h4>
          <ul>
            <li><b>Carte nationale d'identité:</b>
              Pour identifier le passager au moment de la réservation.</li>
            <li><b>Informations de paiement Mobile Money:</b>
              Pour effectuer une réservation.</li>
          </ul>
        </li>
      </ul>

      <h3>1.2 Agences de voyage:</h3>

      <ul>
        <li>
          <h4>Informations générales de l'entreprise: </h4>
          <ul>
            <li>Nom de l'entreprise</li>
            <li>Logo</li>
            <li>Slogan</li>
          </ul>
        </li>
        <li>
          <h4>Informations sur les véhicules:</h4>
          <ul>
            <li>Immatriculation</li>
            <li>Modèle</li>
            <li>Couleur</li>
            <li>Photo</li>
          </ul>
        </li>
      </ul>

      <h2>2. Utilisation des informations</h2>

      Nous utilisons les informations collectées pour les fins suivantes:
      <ul>
        <li><b>Fournir et améliorer nos services:</b>
          Nous utilisons vos informations pour vous permettre de réserver et de
          payer vos billets de bus, de gérer vos réservations, de vous fournir
          des informations sur les trajets et les agences de voyage, et
          d'améliorer nos services.
        </li>
        <li><b>Communiquer avec vous:</b>
          Nous utilisons vos informations pour vous envoyer des notifications
          concernant vos réservations, des mises à jour sur les services et des
          offres promotionnelles.</li>
        <li>Analyser et améliorer l'application: Nous utilisons vos informations
          pour analyser l'utilisation de l'application, identifier les tendances
          et améliorer nos services.
        </li>
        <li><b>Prévenir la fraude et assurer la sécurité:</b>
          Nous utilisons vos informations pour détecter et prévenir les
          activités frauduleuses et pour assurer la sécurité de notre
          plateforme.</li>
      </ul>

      <h2>3. Partage des informations</h2>

      Nous pouvons partager vos informations personnelles avec des tiers dans
      les cas suivants:
      <ul>
        <li><b>Agences de voyage:</b>
          Nous partageons vos informations avec les agences de voyage
          partenaires afin de traiter vos réservations et de vous fournir les
          services que vous avez demandés.</li>
        <li><b>Fournisseurs de services:</b>
          Nous pouvons partager vos informations avec des fournisseurs de
          services tiers qui nous aident à fournir nos services, tels que des
          fournisseurs de paiement, des services d'analyse et des services
          d'assistance client.
        </li>
        <li><b>Obligation légale:</b>
          Nous pouvons divulguer vos informations si la loi l'exige ou si nous
          pensons que la divulgation est nécessaire pour respecter la loi,
          protéger nos droits ou la sécurité de nos utilisateurs, ou pour
          enquêter sur une activité suspecte.</li>
      </ul>

      <h2>4. Sécurité des informations</h2>

      Nous prenons des mesures de sécurité raisonnables pour protéger vos
      informations personnelles contre la perte, le vol, l'accès non autorisé,
      la divulgation, la modification ou la destruction. Cependant, aucune
      méthode de transmission sur Internet ou de stockage électronique n'est
      totalement sécurisée. Par conséquent, nous ne pouvons pas garantir la
      sécurité absolue de vos informations personnelles.

      <h2>5. Vos choix</h2>

      Vous avez le droit d'accéder, de corriger ou de supprimer vos informations
      personnelles. Vous pouvez également choisir de ne pas recevoir de
      communications marketing de notre part.
      {{! Pour exercer ces droits, veuillez
      nous contacter à l'adresse [Adresse email ou formulaire de contact]. }}

      <h2>6. Modifications de la politique de confidentialité</h2>

      Nous pouvons modifier cette politique de confidentialité à tout moment.
      Nous publierons toute modification sur notre site Web et dans
      l'application. Veuillez consulter régulièrement cette politique de
      confidentialité pour rester informé de toute mise à jour.

      <h2>7. Contact</h2>

      Si vous avez des questions concernant cette politique de confidentialité,
      veuillez nous contacter à l'adresse
      <a href="mailto:novatech025@gmail.com">novatech025@gmail.com</a>

      <h2>8. Juridiction</h2>

      Cette politique de confidentialité est régie et interprétée conformément
      aux lois du Cameroun.
    </main>
  </body>
</html>