
<h2>Bonjour {{ user.firstName }},</h2>

<h4>Bienvenue sur Travelas !</h4>

<p>Vous avez été ajouté à la plateforme par votre agence.</p>

Vos identifiants de connexion sont les suivants :

<ul>
    <li>Login : {{ user.email }} ou {{ user.userName }}</li>
    <li>Mot de passe : {{ password }}</li>
</ul>
<p>
Nous vous recommandons de modifier votre mot de passe dès votre première connexion.
</p>

Pour vous connecter, rendez-vous sur [Lien vers la page de connexion].

N'hésitez pas à nous contacter si vous rencontrez le moindre problème.
<p></p>
<br>
Cordialement,
L'équipe Travelas